{{ partial "header.html" }}
<div class="sitetitle">
<h1>Horst Gutmann</h1>
<p class="tagline">Software Developer &amp; OpenSource/FreeSoftware Enthusiast</p>
</div>
{{ range first 1 (where .Data.Pages "Type" "aboutme") }}
<section>
    <h2>{{ .Title }}</h2>
    {{.Content}}
</section>
{{ end }}
<section class="contact">
    <p>You can contact me via <a href="http://www.google.com/recaptcha/mailhide/d?k=01WNvkGDmcR7WJsrw-_QYB2g==&c=iLxdjTYXRL_dbD2IsFMdP5pzW9EBKYlp2DxAmSDlGuk=">e-mail</a>. If you want to do that in an encrypted way, my key's fingerprint is...<br>
        <code>C4E0 2BA8 4048 3A5D 6B76  1607 6F20 3F0D 220F 8E98</code>.</p>
</section>

<section class="presences">
    <h2>Elsewhere...</h2>
    <ul>
        {{ range (sort (where .Data.Pages "Type" "presence") "Title") }}
        <li>
            <a href="{{ .Params.website }}"><img src="/images/presences/{{ .Params.icon }}.png" alt="{{ .Title }}"></a>
        </li>
        {{ end }}
    </ul>
</section>

<div class="lists">
<section class="podcastteasers">
    <h2>Podcast Playlist</h2>
    <ul>
        {{ range (sort (where (where .Data.Pages "Type" "podcast") ".Params.active" ">" 0) "Title") }}
        <li>
            <a href="{{ .Params.website }}">{{ .Title }}</a>
        </li>
        {{ end }}
    </ul>
</section>
<section class="readinglist">
    <h2>Reading list</h2>
    <p class="info">These are the books I'm currently reading with some accompanying notes. These may contain spoilers. You've been warned 😉</p>
    <ul>
        {{ range (sort (where (where .Data.Pages "Type" "book") ".Params.active" ">" 0) ".Params.active") }}
        <li>
            <h3><a href="{{ .Permalink }}">{{ .Title }}</a> by {{ .Params.author }}</h3>
            <p>{{ .Summary }}</p>
        </li>
        {{ end }}
    </ul>
    <a href="/reading/">To the archive...</a>
</section>
</div>
{{ partial "footer.html" }}
