{{ partial "header.html" }}
<div class="sitetitle">
<h1>Horst Gutmann</h1>
<p class="tagline">Software Developer &amp; OpenSource/FreeSoftware Enthusiast</p>
</div>
{{ range first 1 (where .Data.Pages "Type" "aboutme") }}
<section>
    <h2>{{ .Title }}</h2>
    {{.Content}}
</section>
{{ end }}
<section class="contact">
    <p>You can contact me via <a href="http://www.google.com/recaptcha/mailhide/d?k=01WNvkGDmcR7WJsrw-_QYB2g==&c=iLxdjTYXRL_dbD2IsFMdP5pzW9EBKYlp2DxAmSDlGuk=">e-mail</a>. If you want to do that in an encrypted way, my key's fingerprint is...<br>
        <code>C4E0 2BA8 4048 3A5D 6B76  1607 6F20 3F0D 220F 8E98</code>.</p>
</section>

<section class="presences">
    <h2>Elsewhere...</h2>
    <ul>
        {{ range (sort (where .Data.Pages "Type" "presence") "Title") }}
        <li>
            <a href="{{ .Params.website }}"><i class="{{ .Params.icon }}"></i> {{ .Title }}</a>
        </li>
        {{ end }}
    </ul>
</section>

<div class="lists">
<section class="podcastteasers">
    <h2><i class="fas fa-podcast"></i> Podcast Playlist</h2>
    <ul>
        {{ range (sort (where (where .Data.Pages "Type" "podcast") ".Params.active" ">" 0) "Title") }}
        <li>
            <a href="{{ .Params.website }}">{{ .Title }}</a>
        </li>
        {{ end }}
    </ul>
</section>
<section class="readinglist">
    <h2><i class="fas fa-book"></i> Reading list</h2>
    <p class="info">I'm usually reading about two books a month, so keeping this list up to date wasn't really practical. Please check my GoodReads account for updates of my book collection 😊</p>
</section>
</div>
{{ partial "footer.html" }}
